.modal-content
  .modal-body-container
    width: 750px

  .modal__column-label
    margin-bottom: 8px
  .modal__column-prompt-text
    margin-bottom: 10px

  .modal__input-group__side-margin-button
    margin-right: 10px
  .modal__input-group__side-margin-input
    margin-right: 15px
  .modal__datepicker-input
    display: block !important
  .modal__dropdown-item
    &:hover
      background-color: #e0e0e0
  ul.modal__added-expenses-list
    margin-top: 5px
    padding-left: 15px

  .modal__added-expense-list-item
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 10px
    .modal__added-expense-square
      height: 9px
      width: 9px
      margin-right: 8px
      background-color: grey
    .modal__added-expense-text
      margin-right: 15px
    .modal__added-expense-input
      width: 100px
      margin-right: 10px

  .modal__table-area
    margin: 0 !important
    padding: 0 !important

  .modal__form
    margin-bottom: 30px
